<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpBoardUA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/HelpBoardUA.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-..." crossorigin="anonymous">
</head>
<body>
    <header class="gradient-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="header-container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HelpBoardUA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <div class="links">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Новини</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Гуманітарна допомога</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Контакти</a>
                                </li>
                            </ul>
                        </div>
                        <div class="icons">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><div class="nav-icon"><i class="bi bi-geo-alt-fill"></i></div></a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><div class="nav-icon"><i class="bi bi-person-circle"></i></div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-container-lines">
                <div class="first-line">
                    <ul class="inline-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div class="footer-links">Контакти</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="footer-links">Новини</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="footer-links">Реєстрація</div></a>
                        </li>
                    </ul>
                </div>
                <div class="second-line">
                    <ul class="inline-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><div class="footer-links">Private Policy</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"><div class="footer-links">|</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="footer-links">Right ot cancel</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"><div class="footer-links">|</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="footer-links">Terms & Conditions</div></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2023 HelpBoardUA ⓒ All rights reserved </p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
