
/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px; 
    color: blue;
}*/

navbar-brand a{
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: blue;
}
/*a {
  color: #0077cc;
}*/

.nav-item a {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #1B1B1B;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  width: 1920px;
  height: 249px;
  left: 0px;
  bottom: 0px;
}
