@model EditNewsPageModel
@{
    ViewData["Title"] = "Редагування новини";

    string imageSrc1 = "";
    if (ViewBag.NewsImage != null)
    {
        var imageBase64 = Convert.ToBase64String(ViewBag.NewsImage);
        imageSrc1 = string.Format("data:image;base64,{0}", imageBase64);
    }

    string imageSrc2 = "";
    if (ViewBag.NewsBannerImage != null)
    {
        var imageBase64 = Convert.ToBase64String(ViewBag.NewsBannerImage);
        imageSrc2 = string.Format("data:image;base64,{0}", imageBase64);
    }


}

<head>
    <link href="~/css/editNewsPageStyle.css" rel="stylesheet" />
    <script src="~/js/editNewsButtons.js"></script>
</head>

<div class="wrapper">

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <h1 class="pageTitle">Редагувати новину</h1>

        <div class="mainContainer">

            @*Блок додавання іконки*@

            @*<div class="addNewsImgBlock">
                <h2>Іконка новини:</h2>
                <div class="newsImgBlock">
                    <img src="~/img/stepIconAddNews.svg" alt="newsIcon" class = "newsIcon"/>
                </div>
                <div class="downloadAnother">
                    <input type="file" id="upload-file" hidden="hidden"/>
                    <button id="upload-btn">Завантажити</button>
                    <img src="~/img/pencilAddNews.png" alt="pencilIcon"/>
                    <span id="upload-text">Файл не завантажено</span>
                </div>
            </div>*@

            <div class="addNewsImgBlock">
                <h2>Іконка новини:</h2>
                <div class="newsImgBlock">
                    <img id="news-icon" src="@imageSrc1" onerror="this.src='/img/step_it_eng_short 1.png'" alt="newsIcon" />
                </div>
                <div class="downloadAnother">
                    <input type="file" asp-for="NewsImage" name="NewsImage" accept="image/jpeg, image/png, image/jpg, image/svg" id="upload-file" />
                    @*
                    <button id="upload-btn">Завантажити</button>
                    <img src="~/img/pencilAddNews.png" alt="pencilIcon" />
                    <span id="upload-text">Файл не завантажено</span>
                    *@
                </div>
            </div>

            @*Блок бокової лінії*@

            <img src="~/img/addNewsLine.png" alt="newsIcon" class = "lineAddNewsImg"/>


            @*Блок додавання новини*@

            <div class="addNewsBlock">
                <div class="addNewsName">
                    <h2 class="addNewsNameTitle"></h2>
                    <input type="text" asp-for="Id" hidden="hidden" readonly>
                </div>

                <div class="addNewsName">
                    <h2 class="addNewsNameTitle">Назва</h2>
                    <input type="text" asp-for="Title" maxlength="50">
                </div>

                <div class="addNewsUnderName">
                    <h2 class="addNewsUnderNameTitle">Підназва:</h2>
                    <textarea rows="4" cols="50" asp-for="Subtitle" maxlength="100"> </textarea>
                </div>

                <div class="addNewsDescription">
                    <h2 class="addNewsDescriptionTitle">Опис:</h2>
                    <textarea rows="4" cols="50" asp-for="Description"> </textarea>
                </div>

                <div class="addBannerSection">
                    <h2>Баннер новини</h2>
                    <div class="addBannerContent">
                            <div class = "addBannerBlock">
                                <img src="~/img/uploadImageEditProfile.svg" alt="downloadIcon" class = "downloadIconImg"/>
                                <p class = "formatsText">Підтримуваний формат JPG, JPEG, PNG, SVG</p>
                            <input type="file" id="upload-file2" asp-for="NewsBannerImage" name="NewsBannerImage" accept="image/jpeg, image/png, image/jpg, image/svg" />
                            @*
                            <button id = "addBtn">Завантажити</button>
                            <span id="upload-text2">Файл не завантажено</span>
                               *@                               
                        </div>
                        <div id="bannerBlock">
                            <img src="@imageSrc2" onerror="this.src='/img/Банер новини 2.png'" alt="downloadIcon" id="bannerIcon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="editNewsBtnBlock">
            <button class="editNewsBtn">Редагувати новину</button>
        
                
            

        </div>
    </form>
    <form action="~/EditNewsPage/Delete/@Model.Id" method="post">
        <button class="deleteNewsBtn">Видалити новину</button>
    </form>
    <div id="text-container" style="display: none;">
        <p>Зміни були успішно збережені</p>
    </div>

    <div id="popup" class="popup">
            <div class="popup-body">
                <div class="popup-content">
                    <a href="" class="popup-close">X</a>
                    <span class="popup-text">Бажаєте видалити оголошення?</span>
                    <div class="popup-btns">
                        <form action="~/OrganizationProfile/Index" method="post">
                            <button class="popup-btn">Так</button>
                        </form>
                        <form action="~/EditNewsPage/Index" method="post">
                            <button class="popup-btn">Ні</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<script src="~/js/editNewsPicture.js"></script>