@{
	ViewData["Title"] = "Download Cetificate";
}

<head>
	<link href="~/css/downloadCertificateStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="banner">
	</div>
</div>

