@{
	ViewData["Title"] = "Download Cetificate";
}

<head>
	<link href="~/css/donwloadCetificateStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<h1 class = "downloadText">Завантаження сертіфиката організації</h1>
	<div class = "main_content">
		<p class = "mainText">Для розміщення <span>сертифіката</span> у профілі вашої організації завантажте фото відповідного документа і натисніть			“Відправити”. Після верифікації адміністрацією сервісу сертифікат буде відображено на сторінці вашої організації.</p>
		<div class = "downCertificate">
			<img src="~/img/downloadCertificateIcon.svg" alt="downloadIcon" class = "downloadIcon"/>
			<p class = "formatsText">Підтримуваний формат JPG, JPEG, PNG, SVG</p>
			<button class = "downloadBtn">Завантажити</button>
		</div>
	</div>
	<button class = "agreeBtn">Відправити</button>
</div>

