* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

section {
    margin-top: 50px;
    width: 70%;
    text-align: justify;
}

section img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

section h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    text-align: justify;
}

section p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: justify;
}

aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside hr {
    width: 100%;
    color: black;
}

aside h3 {
    font-weight: 700;
}

aside button {
    border: 2px solid #000000;
    border-radius: 20px;
    background: transparent;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 10px;
}

aside button:hover{
    background: #BADAFF;
}

.other-news {
    width: 95%;
    margin: 0 auto;
}
