body {
    font-size: 16px;
}

.wrapper {
    max-width: 1550px;
    margin: 0px auto;
    padding: 0px 15px;
    vertical-align: central;
}

.pageTitle{
    font-size: 32px;
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
}

/*Блок редагування аватару*/

.downloadImageSection h2{
    font-size: 25px;
}

.downloadImageContent {
    display: flex;
}



.downloadImageBlock {
    justify-content: center;
    text-align: center;
    width: 175px;
    height: 178.82px;
}

.downloadImageBlock img{
    justify-content: center;
}

.formatsText{
    margin-top: 15px;
}

#upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 0px auto;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    width: 150px;
    transition: transition: transform 300ms ease-in-out;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: white;
}

#upload-btn:hover {
    background-color: #BADAFF;
    color: inherit;
}

#upload-text {
    display: block;
    overflow-wrap: break-word;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.avatarBlock {
    margin-top: 10px;
    margin-left: 25px;
    border: 3px solid black;
    border-radius: 20px;
    width: 172px;
    height: 172px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.avatarBlock img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Блок редагування баннеру*/

.downloadBannerSection{
    margin-top: 60px;
}

.downloadBannerSection h2{
    font-size: 25px;
}

.downloadBannerContent {
    display: flex;
}

.downloadBannerBlock {
    justify-content: center;
    text-align: center;
    width: 175px;
    height: 178.82px;
}

.downloadBanner{

}

.downloadBannerIconImg{

}


#uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 0px auto;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    width: 150px;
    transition: transition: transform 300ms ease-in-out;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: white;
}

#uploadBtn:hover {
    background-color: #BADAFF;
    color: inherit;
}

#uploadText {
    display: block;
    overflow-wrap: break-word;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.bannerBlock {
    display: block;
    width: 700px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 50px;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.bannerIcon {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Блок редагування назви*/

.editOrganisationName{
    margin-top: 60px;
}

.editNameTitle{
    font-size: 25px;
    font-weight: 500;

}

.editOrganisationName input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

/*Блок редагування місця розташування*/

.editOrganisationCity {
    margin-top: 20px;
}

.editCityTitle {
    font-size: 25px;
    font-weight: 500;
}

.editOrganisationCity input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}


/*Блок редагування контактів*/

.editOrganisationContacts {
    margin-top: 20px;
}

.editContactsTitle {
    font-size: 25px;
    font-weight: 500;
}

.phoneNumber1{
    margin-top: 10px;
}

.phoneNumber1 span{
    font-size: 16px;
    font-weight: 500;
}

.phoneNumber1 input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

.phoneNumber2 {
    margin-top: 10px;
}

.phoneNumber2 span {
    font-size: 16px;
    font-weight: 500;
}

.phoneNumber2 input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}


.emailContact {
    margin-top: 10px;
}

.emailContact span {
    font-size: 16px;
    font-weight: 500;
}

.emailContact input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

/*Блок редагування сертифікату*/

.editCertification {
    margin-top: 20px;
}

.editCertificationTitle {
    font-size: 25px;
    font-weight: 500;
}

.editCertificationBtn {
    margin-top: 10px;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    transition: transition: transform 300ms ease-in-out;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 4px 5px 4px 5px;
    background-color: white;
}


/*Блок редагування кнопок*/


.editProfileBtns{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-content: center;
}

.editOrganiationBtn {
    text-decoration: none;
    color: black;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    padding: 2px 18px;
    font-weight: 500;
    font-size: 16px;
    transition: transition: transform 300ms ease-in-out;
    background-color: white;
}

.backToProfileBtn {
    text-decoration: none;
    color: black;
    margin-left: 35px;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    padding: 2px 18px;
    font-weight: 500;
    font-size: 16px;
    transition: transition: transform 300ms ease-in-out;
    background-color: white;
}

.editOrganiationBtn:hover {
    background-color: #BADAFF;
    color: black;
}

.backToProfileBtn:hover {
    background-color: #BADAFF;
    color: black;
}

#text-container {
    display: none;
    color: #197923;
    text-align: center;
    margin-top: 10px;
}