body {
    font-size: 16px;
}

.wrapper {
    max-width: 1550px;
    margin: 0px auto;
    padding: 0px 15px;
    vertical-align: central;
}

/*Заголовок сторінки*/

.pageTitle {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

/*Контейнер блоку додавання*/

.mainContainer {
    width: 1500px;
    height: 100hv;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
}

/*Блок додавання зображення*/

.addNewsImgBlock {
    width: 187px;
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
    justify-content: center;
}

.addNewsImgBlock h2 {
    font-size: 18px;
    font-weight: 500;
}

.newsImgBlock {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 20px;
    width: 172px;
    height: 172px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.downloadAnother {
    margin-top: 10px;
}

#upload-btn {
    border: none;
    background-color: white;
}

#upload-text {
    overflow-wrap: break-word;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: block;
}

.pencilIcon {
    width: 15px;
}

#upload-file {
    display: block;
    font-size: 12px;
    background: white;
    border-radius: 10px;
    width: 172px;
    text-align: center;
}

::-webkit-file-upload-button {
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


/*Бокова лінія*/
.lineAddNewsImg {
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*Блок додавання новини*/
.addNewsBlock {
    margin-top: 20px;
    padding-left: 30px;
    width: 1230px;
}

.addNewsName {
}

/*Блок додавання назви*/

.addNewsNameTitle {
    font-size: 20px;
}

.addNewsName input {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 58px;
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

/*Блок додавання підназви*/

.addNewsUnderName {
    margin-top: 10px;
}

.addNewsUnderNameTitle {
    font-size: 20px;
}

.addNewsUnderName textarea {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 70px;
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}


/*Блок додавання опису*/

.addNewsDescription {
    margin-top: 10px;
}

.addNewsDescriptionTitle {
    font-size: 20px;
}

.addNewsDescription textarea {
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 150px;
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}


/*Блок додавання баннеру*/

.addBannerSection {
    margin-top: 10px;
}

    .addBannerSection h2 {
        font-size: 20px;
    }

.addBannerContent {
    display: flex;
}

.addBannerBlock {
    justify-content: center;
    text-align: center;
    width: 175px;
    height: 178.82px;
}

.downloadIconImg {
}

.formatsText {
}

#addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 0px auto;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    width: 150px;
    transition: transition: transform 300ms ease-in-out;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: white;
}

#upload-text2 {
    overflow-wrap: break-word;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#bannerBlock {
    width: 700px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#bannerBlock img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#bannerIcon {
}

#upload-file2 {
    display: block;
    font-size: 12px;
    background: white;
    border-radius: 10px;
    width: 172px;
    outline: none;
}

::-webkit-file-upload-button {
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.editNewsBtnBlock {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.editNewsBtn {
    width: 250px;
    border: 3px solid #85F291;
    border-radius: 20px;
    padding: 5px 50px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: white;
}


.editNewsBtn:hover {
    background-color: #85F291;
    color: black;
}

.deleteNewsBtn {
    display: flex;
    width: 250px;
    border: 3px solid #FF9292;
    border-radius: 20px;
    padding: 5px 50px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 0px auto;
    margin-top: 10px;
}

.deleteNewsBtn:hover {
    background-color: #FF9292;
    color: black;
}

#text-container {
    display: none;
    color: #197923;
    text-align: center;
    margin-top: 10px;
}

/*Блок з випадаючим вікном*/

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    width: fit-content;
    color: black;
    position: relative;
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 40px;
}

.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: black;
    padding-right: 8px;
    text-decoration: none;
}

.popup-close:hover {
    text-decoration: none;
    color: black;
}

.popup-text {
    font-size: 18px;
}

.popup-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.popup-btn {
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    background-color: white;
}

    .popup-btn:hover {
        font-weight: 500;
    }