body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.wrapper {
    max-width: 1550px;
    margin: 0px auto;
    padding: 0px 15px;
    vertical-align: central;
}

.headline {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    margin-top: 110px;
}

.registration-container {
    margin-top: 45px;
    margin-bottom: 45px;
}

.dateOfRegistration input {
    background-color: white;
    border: 2px solid black;
    width: 470px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.timeOfRegistration select {
    background-color: white;
    border: 2px solid black;
    width: 470px;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.confirmButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    margin: 0px auto;
    margin-top: 50px;
    border: 5px solid #BADAFF;
    border-radius: 20px;
    width: 240px;
    transition: transform 300ms ease-in-out;
    margin-bottom: 30px;
    background-color: white;
}

.confirm:hover {
    background-color: #BADAFF;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}

    .popup:target {
        opacity: 1;
        visibility: visible;
    }

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-content {
    background-color: white;
    color: black;
    max-width: 500px;
    padding: 30px;
    position: relative;
    border: 2px solid #000000;
    border-radius: 20px;
}

.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: black;
    padding-right: 8px;
    text-decoration: none;
}

    .popup-close:hover {
        text-decoration: none;
        color: black;
    }

.popup-text {
    text-align: center;
}