* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    background-image: url('../img/orgprofilebanner.png'), linear-gradient(180deg, rgba(0, 116, 255, 0.315) 0%, rgba(253, 255, 149, 0.14) 100%, rgba(253, 255, 149, 0.35) 100%, rgba(250, 255, 0, 0.315) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-content img{
    border: 10px solid #0097B2;
    border-radius: 90px;
}

.avatar-content button {
    border: 0px;
    display: block;
    background: #BADAFF;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.avatar-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1550px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.page-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.news-content {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.news-block {
    width: 342px;
    height: 472px;
    border: 10px solid #BADAFF;
    border-radius: 20px;
    overflow: hidden;
}

.img-part {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    object-fit: contain;
}

.info-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
    align-items: center;
}

.info-part h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.info-part button {
    background: #BADAFF;
    border-radius: 20px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-top: 10px;
}

.page-content hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    color: black;
}

.offers-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.offer-block {
    display: flex;
    flex-direction: row;
    height: 200px;
    overflow: hidden;
    border: 10px solid #BADAFF;
    border-radius: 20px;
}

.img-block {
    width: 20%;
    display: flex;
    align-content: center;
    overflow: hidden;
}

.img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.info-block {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
}

.info-block h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #000000;
}

.info-block button{
    width: 50%;
    background: #BADAFF;
    border-radius: 20px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}