* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.banner {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -20px;
    position: relative;
}


.darker {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}


.img-darker {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -2;
}

.img-darker img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
    
}

.avatar-content {
    top: 100px;
    left: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.avatar-content img{
    border: 10px solid #0097B2;
    border-radius: 90px;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
}

.avatar-content button {
    border: 0px;
    width: 300px;
    display: block;
    background: #BADAFF;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.avatar-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1550px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.page-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.news-content {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.news-block {
    width: 342px;
    height: 472px;
    border: 10px solid #BADAFF;
    border-radius: 20px;
    overflow: hidden;
}

.img-part {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}

.info-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
    align-items: center;
}

.info-part h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.info-part button {
    background: #BADAFF;
    border-radius: 20px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-top: 10px;
}

.page-content hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    color: black;
}

.offers-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.offer-block {
    display: flex;
    flex-direction: row;
    height: 200px;
    overflow: hidden;
    border: 10px solid #BADAFF;
    border-radius: 20px;
}

.img-block {
    width: 20%;
    display: flex;
    align-content: center;
    overflow: hidden;
}

.img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.info-block {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-left: 20px;
}

.info-block h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #000000;
}

.info-block button{
    width: 50%;
    background: #BADAFF;
    border-radius: 20px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}