@{
    ViewData["Title"] = "Points of delivery";
}

<head>
    <link href="~/css/geolocationPageStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <button class="locationBtn" target="_blank" href="https://www.google.com/maps">Визначити поточне місцеположення</button>
    <div class = "content">
            <div class="locationTextBlock">
                <h1 class = "locationText">Найближчі пункти видачі допомоги:</h1>
                <ul>
                    <li>вул. Велика Житомирська, 3</li>
                    <li>вул. Саксаганського 55</li>
                </ul>
            </div>
        <img class = "locationImg" src="~/img/Map 2.png" alt="map" />
    </div>
</div>