@{
	ViewData["Title"] = "OnlineQueueRegistration";
}

<head>
	<link href="~/css/onlineQueueStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<h2 class="headline">Запис в онлайн-чергу для отримання гуманітарної допомоги</h2>
	<div class="registration-container">
		<div class="dateOfRegistration">
		<input type="date" id="datepicker" name="datepicker" placeholder="Оберіть дату">
		</div>
	</div>
</div>
