@{
    ViewData["Title"] = "Download VPO Certificate";
}

<head>
    <link href="~/css/downloadVPOStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
    <h1>Підтвердження статусу ВПО</h1>
    <div class="grid-container">
        <div class="text">
            <p>Щоб підтвердити статус ВПО вам слід надіслати фотографію довідки на якій вказано <b>номер довідки ВПО, ПІБ, зареєстроване місце проживання, фактичне місце проживання/перебування та дані документів, що посвідчує особу.</b></p>
        </div>
        <div class="image">
            <img src="~/img/Image-download.png" alt="Image-download"/>
            <p>Підтримуваний формат JPG, JPEG, PNG, SVG</p>
            <div class="autoButton">
                <a href="#">Завантажити</a>
            </div>
        </div>
    </div>
    <div class="autoButton">
        <a href="#">Відправити</a>
    </div>
</div>