@model AddNewOfferModel
@{
    ViewData["Title"] = "Додати оголошення";

}

<head>
    <link href="~/css/createAdvertStyles.css" rel="stylesheet" />
    <script src="~/js/createAdvertButton.js"></script>
</head>

<form asp-action="Add" method="post" enctype="multipart/form-data">
<div class="wrapper">

    <h1 class="pageTitle">Створення оголошення</h1>

    @*Блок з контейнером*@

    
    <div class="mainContainer">
        
        @*Блок з додаванням зображення*@

        <div class="addNewsImgBlock">
            <h2>Іконка новини:</h2>
            <div id="newsImgBlock">
                    <img src="@Model.OfferImage" onerror="this.src='/img/editOrderPicture.jpg'" class="newsIcon" />
            </div>
            <div class="downloadAnother">
                <input type="file" asp-for="OfferImage" name="OfferImage" accept="image/jpeg, image/png, image/jpg, image/svg" id="upload-file"/>
                @*<button id="upload-btn">Завантажити</button>
                <img src="~/img/pencilAddNews.png" alt="pencilIcon"/>
                <span id="upload-text">Файл не завантажено</span>*@
            </div>
        </div>

        @*Блок бокової лінії*@

        <img src="~/img/addNewsLine.png" alt="newsIcon" class = "lineAddNewsImg"/>

        @*Блок додавання оголошення*@

        <div class="createAddBlock">

            <div class="textAddBlock">

                    <div class="createAddName">
                        <h2 class="createAddNameTitle">Назва</h2>
                        <input asp-for=Title placeholder="Введіть назву" type="text" value="" maxlength="50">
                    </div>

                    <div class="createAddUnderName">
                        <h2 class="createAddUnderNameTitle">Підназва:</h2>
                        <textarea asp-for=Subtitle rows="4" cols="50" placeholder="Введіть підназву" maxlength="100"></textarea>
                    </div>

                    <div class="createAddDescription">
                        <h2 class="createAddDescriptionTitle">Опис:</h2>
                        <textarea asp-for=Description rows ="4" cols="50" laceholder="Введіть опис"></textarea>
                    </div>

            </div>

            <div class="categoryAddBlock">

                <div class="categoriesAddBlock">

                    @*Вибір категорії оголошення*@
                        <div class="addCategoryInputBlock">
                            <h2>Категорія оголошеня:</h2>
                            <select asp-for=OfferType class="addCategorySelectBlock">
                                <option value="" selected>Оберіть категорію</option>
                                <option value="gumHelp">Гуманітарна допомога</option>
                                <option value="moneyHelp</option>
                                <option value="volunteersHelp">Волонтерська діяльність</option>
                            </select>
                        </div>

                    @*Вибір категорії гуманітарної допомоги*@
                        <div class="addGumCategoryInputBlock">
                            <h2>Категорія гуманітарної допомоги:</h2>
                            <select asp-for=HelpType class="addGumCategorySelectBlock">
                                <option value="" selected>Оберіть категорію</option>
                                <option value="kitchenHelp">Кухонні набори</option>
                                <option value="childrenHelp">Дитячі товари</option>
                                <option value="bedLinen">Постільна білизна</option>
                                <option value="animalsHelp">Набори для тварин</option>
                                <option value="medicalHelp">Лікарські засоби</option>
                                <option value="foodHelp">Продуктові набори</option>
                                <option value="informationHelp">Інформаційні заходи</option>
                                <option value="hygieneHelp">Гігієнічні набори</option>
                                <option value="moneyHelp">Грошові виплати</option>
                            </select>
                        </div>
                    @*Ввід максимальної кількості гуманітарної допомоги*@
                    <div class="maxGumHelpInput">
                        <h2 class="maxGumHelpTitle">Максимальна кількість гуманітарних наборів:</h2>
                        <input asp-for=NumberOfAid placeholder="Введіть кількість" type="number" value="">
                    </div>
                </div>

                <div class="locationAddBlock">

                    <div class="upListstAddBlock">

                        @*Ввід області*@
                        <div class="areaAddSelectBlock">
                            <h2>Область</h2>
                            <select asp-for=Area class="areaAddSelect">
                                    <option value="" selected>Оберіть область</option>
                                    <option value="Вінницька область">Вінницька область</option>
                                    <option value="Волинська область">Волинська область</option>
                                    <option value="Дніпротпетровська область">Дніпротпетровська область</option>
                                    <option value="Донецька область">Донецька область</option>
                                    <option value="Житомирська область">Житомирська область</option>
                                    <option value="Закарпатська область">Закарпатська область</option>
                                    <option value="Запорізька область">Запорізька область</option>
                                    <option value="Івано-Франківська область">Івано-Франківська область</option>
                                    <option value="Київська область">Київська область</option>
                                    <option value="Кіровоградська область">Кіровоградська область</option>
                                    <option value="Луганська область">Луганська область</option>
                                    <option value="Львівська область">Львівська область</option>
                                    <option value="Миколаївська область</">Миколаївська область</option>
                                    <option value="Одеська область">Одеська область</option>
                                    <option value="Полтавська область">Полтавська область</option>
                                    <option value="Рівненська область">Рівненська область</option>
                                    <option value="Сумська область">Сумська область</option>
                                    <option value="Тернопільська область">Тернопільська область</option>
                                    <option value="Харківська область">Харківська область</option>
                                    <option value="Херсонська область">Херсонська область</option>
                                    <option value="Хмельницька область">Хмельницька область</option>
                                    <option value="Черкаська область">Черкаська область</option>
                                    <option value="Чернівецька область">Чернівецька область</option>
                                    <option value="Чернігівська область">Чернігівська область</option>
                                </select>
                        </div>

                        @*Ввід міста*@
                        <div class="townAddSelectBlock">
                            <h2>Місто</h2>
                                <select asp-for=City class="townAddSelect">
                                    <option value="" selected>Оберіть місто</option>
                                    <option value="Вінниця">Вінниця</option>
                                    <option value="Дніпро">Дніпро</option>
                                    <option value="Донецьк">Донецьк</option>
                                    <option value="Житомир">Житомир</option>
                                    <option value="Запоріжжя">Запоріжжя</option>
                                    <option value="Івано-Франківськ">Івано-Франківськ</option>
                                    <option value="Київ">Київ</option>
                                    <option value="Кропивницький">Кропивницький</option>
                                    <option value="Луганськ">Луганськ</option>
                                    <option value="Луцьк">Луцьк</option>
                                    <option value="Львів">Львів</option>
                                    <option value="Миколаїв">Миколаїв</option>
                                    <option value="Одеса">Одеса</option>
                                    <option value="Полтава">Полтава</option>
                                    <option value="Рівне">Рівне</option>
                                    <option value="Суми">Суми</option>
                                    <option value="Тернопіль">Тернопіль</option>
                                    <option value="Ужгород">Ужгород</option>
                                    <option value="Харків">Харків</option>
                                    <option value="Херсон">Херсон</option>
                                    <option value="Хмельницкий">Хмельницький</option>
                                    <option value="Черкаси">Черкаси</option>
                                    <option value="Чернівці">Чернівці</option>
                                    <option value="Чернігів">Чернігів</option>
                                </select>
                        </div>

                        @*Ввід адреси*@
                        <div class="adressInputAddBlock">
                            <h2 class="adressInputAddTitle">Адреса</h2>
                                <input asp-for=Address placeholder ="Введіть адресу" type="text" value="">
                        </div>
                    </div>

                </div>

            </div>

            @*Блок з вибором дати та часу*@

            <h2 class="dateAddBlockTitle">Дати видачі</h2>

            <div class="dateTimeAddBlock">

                @*Блок з вибором дати*@
                <div class="dateAddBlock">
                    <div class="itemsDateAddBlock">

                        <div class="startDateAddBlock">
                            <h2>Дата початку</h2>
                                <input asp-for="StartDateTime" type ="date" id="datepicker" placeholder="Оберіть дату отримання">
                        </div>

                        <div class="endDateAddBlock">
                            <h2>Дата кінця</h2>
                            <input type="date" id="datepicker" placeholder="Оберіть дату отримання" asp-for=FinishDateTime>
                        </div>
                            
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>

        <div class="createAddBtn">
            <button type="submit">Додати оголошення</button>
        </div>

</form>

</div>


<script src="~/js/createAdvertPictures.js"></script>