@{
	ViewData["Title"] = "Contacts";
}

<head>
	<link href="~/css/Contacts.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="grid-container">
		<div class="text">
			<h1>Наші контакти:</h1>
			<p>Гаряча лінія: +38 066 893 50 50</p>
			<p>Підтримка у Viber, Telegram: +38 093 651 45 45</p>
			<p>Електрона пошта: helpboard_ua@gmail.com</p>
		</div>
		<div class="image">
			<img src="~/img/Contacts.png" alt="Messengers"/>
		</div>
	</div>
</div>