@{
	ViewData["Title"] = "Contacts";
}

<head>
	<link href="~/css/Contacts.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<div class="grid-container">
		<div class="text">
			<h1>Наші контакти:</h1>
			<p>Гаряча лінія: +38 066 893 50 50</p>
			<p>Підтримка у Viber, Telegram: +38 093 651 45 45</p>
			<p>Електрона пошта: helpboard_ua@gmail.com</p>
		</div>
		<div class="image">
			<img src="" alt="Messengers">
		</div>
	</div>
</div>