@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/homePageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="banner">
		<div class="banner-dark">
			<div class="banner-content">
				<h2>HelpBoardUA</h2>
				<p>Дошка оголошень для внутрішньо переміщених осіб</p>
				<div class="button-container">
					<button class="view-ad">Переглянути оголошення</button>
					<button class="view-ad">Зареєструватися</button>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<h3>Головні новини</h3>
		<div class="offers-content">
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/orgProfileOffer.jpg" />
				</div>
				<div class="info-block">
					<h3>Гуманітарна допомога від БФ “Доброта з серця” </h3>
					<p>Продуктові набори для переселенців у місті Харкові.</p>
					<form action="~/Humanitarian/HumanitarianPage" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg" />
				</div>
				<div class="info-block">
					<h3>Майстер-класи від БФ “Доброта з серця” </h3>
					<p>Запис на творчі заняття з педагогами раннього розвитку від БФ “Доброта з серця” триває.</p>
					<form action="#" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg" />
				</div>
				<div class="info-block">
					<h3>Майстер-класи від БФ “Доброта з серця” </h3>
					<p>Запис на творчі заняття з педагогами раннього розвитку від БФ “Доброта з серця” триває.</p>
					<form action="#" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

