@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/homePageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="banner">
		<img src="~/img/bannerMainPage.jpeg" alt="banner"/>
	</div>
</div>

