@model NewsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/homePageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-..." crossorigin="anonymous">
</head>
 
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const carousel = document.querySelector(".carousel");
		const prevButton = document.querySelector(".bi-arrow-left-circle");
		const nextButton = document.querySelector(".bi-arrow-right-circle");

		prevButton.addEventListener("click", () => {
			carousel.scrollBy({
				left: -carousel.offsetWidth,
				behavior: "smooth",
			});
		});

		nextButton.addEventListener("click", () => {
			carousel.scrollBy({
				left: carousel.offsetWidth,
				behavior: "smooth",
			});
		});
	});
</script>


<div class="wrapper">
	<div class="banner">
		<div class="banner-dark">
			<div class="banner-content">
				<h2>HelpBoardUA</h2>
				<p>Дошка оголошень для внутрішньо переміщених осіб</p>
				<div class="button-container">
					<button class="view-ad">Переглянути оголошення</button>
					<button class="view-ad">Зареєструватися</button>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<h3>Головні новини</h3>
		<div class="offers-content">
			@for (int i = 0; i < 3; i++)
			{
				if (i < Model.NewsList.Count)
				{
					var news = Model.NewsList[i];

					string imageSrc1 = "";
					if (news.NewsImage != null)
					{
						var imageBase64 = Convert.ToBase64String(news.NewsImage);
						imageSrc1 = string.Format("data:image;base64,{0}", imageBase64);
					}

					

					<div class="offer-block">
						<div class="img-block">
							<img src="@imageSrc1" onerror="this.src='/img/step_it_eng_short 1.png'" />
						</div>
						<div class="info-block">
							<h3>@news.Title</h3>
							<p>@news.SubTitle</p>
							<form action="~/News/ArticlePage/@news.Id" method="post">
								<button>Дізнатися більше</button>
							</form>
						</div>
					</div>
				}
			}
				<a href="~/News/Index">Більше новин<i class="bi bi-arrow-right"></i></a>
		</div>
		<h3>Категорії гуманітарної допомоги</h3>
		<div class="category-content">
			<i class="bi bi-arrow-left-circle"></i>
			<div class="carousel">
				<a href="~/Humanitarian/Index"><img src="~/img/Грошові виплати.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Продуктові набори.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Гігієнічні набори.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Лікарські засоби.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Дитячі товари.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Набори для тварин.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Кухонні набори.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Постільна білизна.png" alt="img" /></a>
				<a href="~/Humanitarian/Index"><img src="~/img/Інформаційні заходи.png" alt="img" /></a>
			</div>
			<i class="bi bi-arrow-right-circle"></i>
		</div>
		<div class="last-link">
			<a href="~/Humanitarian/Index">Усі категорії<i class="bi bi-arrow-right"></i></a>
		</div>
	</div>
</div>

