@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/homePageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="banner">
		<div class="banner-dark">
			<div class="banner-content">
				<h2>HelpBoardUA</h2>
				<p>Дошка оголошень для внутрішньо переміщених осіб</p>
				<div class="button-container">
					<button class="view-ad">Переглянути оголошення</button>
				</div>
			</div>
		</div>
	</div>
</div>

