@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/homePageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="banner">
		<div class="banner-dark">
			<div class="banner-content">
				<h2>HelpBoardUA</h2>
				<p>Дошка оголошень для внутрішньо переміщених осіб</p>
				<div class="button-container">
					<button class="view-ad">Переглянути оголошення</button>
					<button class="view-ad">Зареєструватися</button>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<h3>Головні новини</h3>
		<div class="offers-content">
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/step_it_eng_short 1.png" />
				</div>
				<div class="info-block">
					<h3>Безкоштовні курси з IT</h3>
					<p>Харківська IT-школа надаватиме безкоштовні курси для дітей зі статусом ВПО віком від 9 - 11 років. Наразі доступна реєстрація, яку можна пройти на сайті.</p>
					<form action="~/Humanitarian/HumanitarianPage" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/news img 1.png" />
				</div>
				<div class="info-block">
					<h3>Аналіз крові</h3>
					<p>Медичний центр “Сінево” повідомляє, що для людей зі статусом ВПО діє знижка на аналіз крові.</p>
					<form action="#" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
			<div class="offer-block">
				<div class="img-block">
					<img src="~/img/cropped-logo_caritas-new 1.png" />
				</div>
				<div class="info-block">
					<h3>Майстер-класи від БФ “Карітас”</h3>
					<p>Запис на творчі заняття з педагогами раннього розвитку від БФ “Карітас” триває.</p>
					<form action="#" method="post">
						<button>Дізнатися більше</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

