@{
    ViewData["Title"] = "Регістрація";
}

<head>
    <link href="~/css/regPageStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class="regText">Реєстрація</h1>
    <p class = "paragraph">Ви бажаєте зареєструватися як: </p>
    <div class = "blocks">
        <div class = "block_1">
            <a asp-controller="Registration" asp-action="RegUser"> Користувач </a>
        </div>
        <div class = "block_2">
            <a asp-controller="Registration" asp-action="RegOrganization"> Організація </a>
        </div>
    </div>
    <div class = "loginText">
        <p>Вже зареєстровані? <a asp-controller="Authorization" asp-action="Index">Увійти</a></p>
    </div>
</div>