@{
    ViewData["Title"] = "Регістрація";
}


<head>
    <link href="~/css/regUserStyle.css" rel="stylesheet" />
</head>

<!-- теж непотрібна сторінка
<form method="post" action="Register">

    <div class="wrapper" >
        <h1 class="vpoText">Внутрішньо переміщена особа</h1>
        <div class="regContainers">
            <div class="regEmail">
                <input placeholder="Електронна пошта" type="email" asp-for="Email"></input>
            </div>
            <div class="regName">
                <input placeholder="Ім'я'" type="text" asp-for="FirstName"></input>
            </div>
            <div class="regSurname">
                <input placeholder="Прізвище" type="text" asp-for="LastName"></input>
            </div>
            <div class="regPatronyc">
                <input placeholder="По батькові" type="text" asp-for="SurName"></input>
            </div>
            <div class="regSex">
                <input placeholder="Стать" type="text" asp-for="Sex"></input>
            </div>
            <div class="regTelephone">
                <input placeholder="Номер телефону" type="tel" asp-for="Tel"></input>
            </div>
            <div class="regBirthDate">
                <input placeholder="Дата народження" type="date" asp-for="Birth"></input>
            </div>
            <div class="regPassword">
                <input placeholder="Пароль" type="text" asp-for="Password"></input>
            </div>
            <div class="regPassRepeat">
                <input placeholder="Повторіть пароль" type="password" asp-for="PassConfirmation"></input>
            </div>
        </div>
        <button class="regButton" type="submit" > Зареєструватися</button>
    </div>
</form>
-->
