@{
    ViewData["Title"] = "RegistrationUser Page";
}

<head>
    <link href="~/css/regUserStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class = "vpoText">Внутрішньо переміщена особа</h1>
    <div class="regContainers">
        <div class="regEmail">
            <input placeholder="Електронна пошта"></input>
        </div>
        <div class="regName">
            <input placeholder="Ім'я'"></input>
        </div>
        <div class="regSurname">
            <input placeholder="Прізвище"></input>
        </div>
        <div class="regPatronyc">
            <input placeholder="По батькові"></input>
        </div>
        <div class="regSex">
            <input placeholder="Стать"></input>
        </div>
        <div class="regTelephone">
            <input placeholder="Номер телефону"></input>
        </div>
        <div class="regBirthDate">
            <input placeholder="Дата народження"></input>
        </div>
        <div class="regPassword">
            <input type="password" placeholder="Пароль"></input>
        </div>
        <div class="regPassRepeat">
            <input type="password" placeholder="Повторіть пароль"></input>
        </div>
    </div>
    <div class="regButton">
        <a href="#">Зареєструватися</a> 
    </div>
</div>