@{
	ViewData["Title"] = "Data Base for Organization";
}

<head>
	<link href="~/css/userProfileStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<h1 class="headline">Особи, зареєстрованні на отримання гуманітарної допомоги</h1>
	<div class="filters"
</div>