@{
    ViewData["Title"] = "RegistrationOrganisation Page";
}

<head>
    <link href="~/css/regOrganisationStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class = "vpoText">Організація</h1>
    <div class="regContainers">
        <div class="regEmail">
            <input placeholder="Електронна пошта"></input>
        </div>
        <div class="regName">
            <input placeholder="Назва організації"></input>
        </div>
        <div class="regAdress">
            <input placeholder="Адреса"></input>
        </div>
        <div class="regTelephone">
            <input placeholder="Номер телефону"></input>
        </div>
        <div class="regPassword">
            <input type="password" placeholder="Пароль"></input>
        </div>
        <div class="regPassRepeat">
            <input type="password" placeholder="Повторіть пароль"></input>
        </div>
    </div>
    <div class="regButton">
        <a href="#">Зареєструватися</a> 
    </div>
</div>