@{
    ViewData["Title"] = "Авторизація";
}

<head>
    <link href="~/css/autorisationPageStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <div class="content">
        <h1 class="autoText">Авторизація</h1>
        <div class="regContainers">
            <div class="regEmail">
                <input placeholder="Електронна пошта"></input>
            </div>
            <div class="regPassword">
                <input type="password" placeholder="Пароль"></input>
            </div>
        </div>
        <div class="autoButton">
            <a href="#">Увійти</a> 
        </div>
        <div class="forgotPass">
            <a asp-controller="ForgotPass" asp-action="Index">>Забули пароль?</a>
        </div>

        <div class="registrationText">
            <p>Не маєте акаунту? <a asp-controller="Registration" asp-action="Index"> >Зареєструватись</a></p>
        </div>
    </div>
    
</div>