@model HelpBoardUA.Models.User
@{
    ViewData["Title"] = "Авторизація";
}

<head>
    <link href="~/css/autorisationPageStyle.css" rel="stylesheet" />
</head>

<form method="post" action="Login">
<div class="wrapper">
    <div class="content">
        <h1 class="autoText">Авторизація</h1>
            <div class="regContainers">
                <div class="regEmail">
                    <input placeholder="Електронна пошта" type="text" asp-for="Username"></input>
                </div>
                <div class="regPassword">
                    <input placeholder="Пароль" type="password" asp-for="Password"></input>
                </div>
            </div>
            <div class="autoButton" type="submit">
                <a>Увійти</a> 
            </div>
        <div class="forgotPass">
            <a asp-controller="ForgotPass" asp-action="Index">>Забули пароль?</a>
        </div>

        <div class="registrationText">
            <p>Не маєте акаунту? <a asp-controller="Registration" asp-action="Index"> >Зареєструватись</a></p>
        </div>
    </div>
    
</div>
</form>