@{
	ViewData["Title"] = "Organization Page";
}

<head>
	<link href="~/css/orgPageStyles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-..." crossorigin="anonymous">
</head>

<div class="wrapper">
	<div class="banner">
			<div class="avatar-content">
					<img src="~/img/Avatar.png" />
					<h3>Доброта з серця</h3>
					<button>Підписатись</button>
			</div>
	</div>
	<div class="page-content">
		<h3>Новини організації</h3>
		<div class="news-content">
			<div class="news-block">

			</div>
		</div>
		<hr>
	</div>
</div>
