@{
	ViewData["Title"] = "Confirmation of Ads";
}

<head>
	<link href="~/css/confirmationAdStylecss.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<h1 class="headline">Оголошення відправлені на перевірку</h1>
	<div class="ad-container">
		<div class="adBox">
			<div class="img-block">
				<img src="~/img/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg" />
			</div>
			<div class="info-block">
				<p>Відправлено на перевірку 09.04.2023</p>
				<h3>Безкоштовні курси з ІТ</h3>
				<p>Харківська IT-школа надаватиме безкоштовні курси для дітей зі статусом ВПО віком від 10 - 16 років. Наразі доступна реєстрація, яку можна пройти на сайті.</p>
				<div class="autoButton">
					<button class="view">Перевірити</button>
				</div>
			</div>
		</div>
		<div class="adBox">
			<div class="img-block">
				<img src="~/img/nico-smit-NFoerQuvzrs-unsplash.jpg" />
			</div>
			<div class="info-block">
				<p>Відправлено на перевірку: 10.04.2023</p>
				<h3>Гуманітарна допомога від БФ “Доброта з серця”</h3>
				<p>Продуктові набори для переселенців зі статусом ВПО у місті Харкові.</p>
				<div class="autoButton">
					<button class="view">Перевірити</button>
				</div>
			</div>
		</div>
		<div class="adBox">
			<div class="img-block">
				<img src="~/img/jaime-lopes-0RDBOAdnbWM-unsplash.jpg" />
			</div>
			<div class="info-block">
				<p>Відправлено на перевірку: 10.04.2023</p>
				<h3>Майстер-класи від БФ “Доброта з серця”</h3>
				<p>Запис на творчі заняття з педагогами раннього розвитку від БФ “Доброта з серця” триває.</p>
				<div class="autoButton">
					<button class="view">Перевірити</button>
				</div>
			</div>
		</div>
		</div>
</div>
