@model List<HelpBoardUA.Models.Offer>
@{
	ViewData["Title"] = "Confirmation of Ads";
}

<head>
	<link href="~/css/confirmationAdStylecss.css" rel="stylesheet" />
</head>

<div class="wrapper">
	<h1 class="headline">Оголошення відправлені на перевірку</h1>
	<div class="ad-container">
		@foreach(var offer in Model)
		{
			if (offer.IsConfirmed == false)
			{
				string imageSrc = "";
				if (offer.OfferImage != null)
				{
					var imageBase64 = Convert.ToBase64String(offer.OfferImage);
					imageSrc = string.Format("data:image;base64,{0}", imageBase64);
				}
				<div class="adBox">
					<div class="img-block">
						<img src="@imageSrc" onerror="this.src='/img/nico-smit-NFoerQuvzrs-unsplash.jpg'" />
					</div>
					<div class="info-block">
						<p>Відправлено на перевірку: @(offer.CreatingDate)</p>
						<h3>@offer.Title</h3>
						<p>@offer.Subtitle</p>
						<div class="autoButton">
							<form action="~/Humanitarian/HumanPageForAdmin/@offer.Id" method="post">
								<button type="submit" class="view">Перевірити</button>
							</form>
						</div>
					</div>
				</div>
			}
		}	
		</div>
</div>
