@model OfferClient
@{
    ViewData["Title"] = "Оформлення доставки";
}

<head>
    <link href="~/css/deliveryPageStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <form asp-action="AddToDelivery" method="post">

        <h2 class = "deliveryText">Доставка гуманітарної допомоги</h2>
        <div class="deliveryContainers">
                  <select class = "postChoose">
                     <option value="instruction" selected hidden>Оберіть сервіс доставки</option>
                     <option value="NovaPoshta">Нова пошта</option>
                  </optgroup>
                </select>
                <div style="display: none">
                <input asp-for="OfferId" value="@ViewBag.OfferId"></input>
                </div>
                <div class="deliveryCity">
                    <input asp-for="City" placeholder="Введіть місто"></input>
                </div>
                <div class="deliveryArea">
                    <input asp-for="Area" placeholder="Введіть область"></input>
                </div>
                <div class="deliveryNums">
                    <input asp-for="Office" placeholder="Введіть номер віділення"></input>
                </div>
                <div class="deliveryTelephone">
                    <input asp-for="PhoneNumber" placeholder="Введіть номер телефону"></input>
                </div>
            </div>

            <div class="deliveryButton">
                 <button type="submit" >Підтвердити</button >
            </div>
        </form>
</div>
