@{
    ViewData["Title"] = "Сторінка гуманітарної допомоги";
}
<head>
	<link href="~/css/humanitarianPageStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-..." crossorigin="anonymous">
</head>


<div class="wrapper">
	<div class="banner">
		<h3>Гуманітарна допомога від БФ “Доброта з серця”</h3>
		<p>Продуктові набори для переселенців зі статусом ВПО у місті Харкові.</p>
		<div class="stats"><i class="bi bi-geo-alt-fill"></i><p>м. Харків, вул. Лермонтівська, 9</p></div>
		<div class="stats"><i class="bi bi-person-fill"></i><p>27/250</p></div>
		<div class="stats"><i class="bi bi-clock"></i><p>до 01.06.2023</p></div>
		<div class="tags">
			<div class="tag">Гуманітарна допомога</div>
			<div class="tag">Продуктові набори</div>
		</div>
	</div>
	<div class="page-content">
		
	</div>
</div>