@model Client
@{
	ViewData["Title"] = "Edit a User Profile";
}

<head>
	<link href="~/css/editUserProfileStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<form asp-action="Edit" method="post">

<div class="wrapper">
	<h2 class = "headline">Редагування особистих даних</h2>
        <div class="personalData">
            <div class="editFullname">
                <input asp-for="LastName" value="@Model.LastName">
            </div>
            <div class="editFullname">
                <input asp-for="FirstName" value="@Model.FirstName">
            </div>
            <div class="editFullname">
                <input asp-for="Patronymic" value="@Model.Patronymic">
            </div>
            <select asp-for="Sex" class="editSex">
                <option selected hidden>@Model.Sex</option>
                <option value="Чоловік">Чоловіча</option>
                <option value="Жінка" >Жіноча</option>
            </select>
            <div class="editBirthDate">
                <input asp-for="Birth" placeholder="Введіть дату народження" type="date" id="datepicker">
            </div>
            <div class="editEmail">
                <input asp-for="Email" placeholder="Введіть електронну пошту" type="text">
            </div>
            <div class="editTelephone">
                <input asp-for="PhoneNumber" placeholder="Введіть номер телефону" type="text">
            </div>
        </div>

            <div class="editButton">
                <button type="submit" class="edit">Підтвердити</button>
            </div>
        </div>
</form>


