@{
	ViewData["Title"] = "User Profile";
}

<head>
	<link href="~/css/userProfileStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">
	<div class="grid-container">
		<h1>Особисті дані:</h1>
		<div class="personalData">
			<div class="info-wrapper">
			<p class="headlines">ПІБ:
					<span class="data">Сурчук Лідія Іванівна</span>
			</p>
			<p class="headlines">Стать:
					<span class="data">Жіноча</span>
			</p>
			<p class="headlines">Дата народження:
			<span class="data">04.03.1963</span>
			</p>
			<p class="headlines">Ел.пошта:
			<span class="data">lida544@gmail.com</span>
			</p>
			<p class="headlines">Телефон:
			<span class="data">095 414 95 14</span>
			</p>
			</div>
			
		</div>
		<div class="button1">
			<div class="autoButton">
				<a asp-area="" asp-controller="UserProfile" asp-action="EditUserProfile">Редагувати</a>
			</div>
		</div>
		
		<h2>Статус ВПО</h2>
		<div class="statusVPO">
			<div class="info-wrapper2">
				<p class="headlines">
					Статус:
					<span class="data">Довідку не надано/ В обробці/ Схвалено</span>
				</p>
				<p class="headlines">
					Фото документа:
					<input type="file" id="imageUpload" accept="image/*">
					<script>
						const imageUpload = document.getElementById('imageUpload');

						imageUpload.addEventListener('change', (e) => {
						  const file = e.target.files[0];
						});
					</script>
					@*<span class="data">dovidka.png</span>*@
				</p>
				
			</div>
		</div>
		<div class="button2">
				<p class="description">
					Для отримання статусу ВПО натисніть кнопку нижче
				</p>
				<div class="autoButton">
					<a href="#">Отримати статус ВПО</a>
				</div>
		</div>
	</div>
</div>

