@{
	ViewData["Title"] = "User Profile";
}

<head>
	<link href="~/css/userProfileStyle.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>

<div class="wrapper">

</div>

