@{
	ViewData["Title"] = "Confirmation Requests";
}

<head>
	<link href="~/css/confirmationVPOStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class="headline">Заявки на підтвердження статусу ВПО</h1>
    <div class="users">
        <div class="userBox">
            <div class="userDetails">
                <div><i class="bi bi-person"></i></div>
                <div class="name">Соколов Максим Олегович</div>
                <div><i class="bi bi-image"></i></div>
            </div>
            <div class="buttonContainer">
                <div class="confirmButton">
                    <a href="#">Підтвердити</a>
                </div>
                <div class="cancelButton">
                    <a href="#">Відхилити</a>
                </div>
            </div>
        </div>
        <div class="userBox">
            <div class="userDetails">
                <div><i class="bi bi-person"></i></div>
                <div class="name">Лісунов Максим Олегович</div>
                <div><i class="bi bi-image"></i></div>
            </div>
            <div class="buttonContainer">
                <div class="confirmButton">
                    <a href="#">Підтвердити</a>
                </div>
                <div class="cancelButton">
                    <a href="#">Відхилити</a>
                </div>
            </div>
        </div>
    </div>
</div>

