@{
	ViewData["Title"] = "Confirmation Requests";
}

<head>
	<link href="~/css/confirmationVPOStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class="headline">Заявки на підтвердження статусу ВПО</h1>
    <div class="users">
        <div class="userBox">
            <div class="userDetails">
                <div><i class="bi bi-person"></i></div>
                <div class="name">Соколов Максим Олегович</div>
                <div><a href="#"><i class="bi bi-image"></i></a></div>
            </div>
            <div class="buttonContainer">
                <div class="confirmButton">
                    <button class="confirm">Підтвердити</button>
                </div>
                <div class="cancelButton">
                    <button class="cancel">Відхилити</button>
                </div>
            </div>
        </div>
        <div class="userBox">
            <div class="userDetails">
                <div><i class="bi bi-person"></i></div>
                <div class="name">Лісунов Максим Олегович</div>
                <div><a href="#"><i class="bi bi-image"></i></a></div>
            </div>
            <div class="buttonContainer">
                <div class="confirmButton">
                    <button class="confirm">Підтвердити</button>
                </div>
                <div class="cancelButton">
                    <button class="cancel">Відхилити</button>
                </div>
            </div>
        </div>
    </div>
</div>

