@{
    ViewData["Title"] = "news";
}

<head>
    <link href="~/css/newsStyle.css" rel="stylesheet" />
</head>

<div class="wrapper">
    <h1 class="regText">Останні новини</h1>
    <div class="newsBlock">
        <img src = "~/img/Банер новини 1.png"/>
        <div class="under-img-line">
            <img src="~/img/news img 1.png" />
            <div class="near-img-line">
                <div></div>
                <p></p>
                <button></button>
            </div>
        </div>
    </div>
</div>

